<!DOCTYPE html>
<html lang="en">

<%- include('../layout/head') %>

<body>
    <%- include('../layout/header') %>

    <h2><img src="<%= singleBook.image_url %>"></h2>
    <h3><%= singleBook.title %></h3>
    <h3><%= singleBook.author %></h3>
    <p><%= singleBook.descriptions %></p>
    <h4>ISBN:<%= singleBook.isbn %></h4>
    <h4>Bookshelf:<%= singleBook.bookshelf %></h4>
</body>

</html>