<!DOCTYPE html>
<html lang="en">

<%- include('../layout/head') %>

<body>
    <%- include('../layout/header') %>
    <main>
        <h2 class="image"><img src="<%= singleBook.image_url %>"></h2>
        <h3 class="title"><%= singleBook.title %></h3>
        <h3 class="author"><%= singleBook.author %></h3>
        <p class="description"><%= singleBook.descriptions %></p>
        <h4 class="isbn">ISBN:<%= singleBook.isbn %></h4>
        <h4 class="bookshelf">Bookshelf:<%= singleBook.bookshelf %></h4>
    </main>

</body>

</html>