<!DOCTYPE html>
<html lang="en">

<!-- applying ejs partial feature -->
<%- include('layout/head') %>

<body>
    <!-- header partial -->
    <%- include('layout/header') %>
    <main>
        <h2 class="link"><a href="/">Home</a></h2>
        <h2 class="link"><a href="/search">Search the google books API</a></h2>

        <!-- Saved books count -->
        <h3 class="booksCount">Saved Books: <%= books.length %> </h3>
        <% books.forEach(book => { %>
        <h3><img src="<%= book.image_url %>"></h3>
        <h3 class="title"><%= book.title %></h3>
        <h3 class="author"><%= book.author %></h3>
        <a href="detail/<%= book.id%>">
            <button class="button" name="view-details">View Details</button>
        </a>
        <% }) %>

    </main>
</body>

</html>