<!DOCTYPE html>
<html lang="en">

<!-- applying ejs partial feature -->
<%- include('layout/head') %>

<body>
<!-- header partial -->
<%- include('layout/header') %>

        <!-- Saved books count -->
    <h1>booksCount : <%= books.length %> </h1>
    <% books.forEach(book => { %>
    <h2><img src="<%= book.image_url %>"></h2>
    <h3><%= book.title %></h3>
    <h3><%= book.author %></h3>
    <a href="detail/<%= book.id%>">
        <button name="view-details">View Details</button>
    </a>
    <% }) %>

</body>
</html>